@model Code.Models.PersonInformation

@{
    ViewBag.Title = "Details";
}

<h1 class="page-title">takecare</h1>

<div>
    <h2>Patientuppgifter</h2>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PStreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PStreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPersonalNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPersonalNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPhoneNumberHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPhoneNumberHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPhoneNumberWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPhoneNumberWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PPhoneNumberMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PPhoneNumberMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEmail)
        </dd>
    </dl>
    <hr />
    <h2>Logopeduppgifter</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SStreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SStreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOrganisationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOrganisationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
